# About
- Date: 27/09/2022
- Pages: 66

## Exercise 1

In [1]:
import pandas as pd

data = pd.read_csv("abalone.data", header=None)
data.set_axis([
    "Sex", "Length", "Diameter", "Height", "Whole weight", "Shucked weight",
    "Viscera weight", "Shell weight", "Rings"
],
              axis=1,
              inplace=True)
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [3]:
data.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Rings             0
dtype: int64

- No missing values!!

In [4]:
data.dtypes.value_counts()

float64    7
object     1
int64      1
dtype: int64

In [5]:
data['Rings'].nunique()

28

- There are `7` numerical (float64) columns type.

- There is `2` categorical (28 distinct values - Rings and 3 distinct values - Sex) column type.

## Exercise 2

In [6]:
data[["Sex", "Whole weight", "Rings"]]

     Sex  Whole weight  Rings
0      M        0.5140     15
1      M        0.2255      7
2      F        0.6770      9
3      M        0.5160     10
4      I        0.2050      7
...   ..           ...    ...
4172   F        0.8870     11
4173   M        0.9660     10
4174   M        1.1760      9
4175   F        1.0945     10
4176   M        1.9485     12

[4177 rows x 3 columns]

In [7]:
data.loc[:, ["Sex", "Whole weight", "Rings"]]

     Sex  Whole weight  Rings
0      M        0.5140     15
1      M        0.2255      7
2      F        0.6770      9
3      M        0.5160     10
4      I        0.2050      7
...   ..           ...    ...
4172   F        0.8870     11
4173   M        0.9660     10
4174   M        1.1760      9
4175   F        1.0945     10
4176   M        1.9485     12

[4177 rows x 3 columns]

In [8]:
# Select every alternate column
data.loc[:, ::2]

     Sex  Diameter  Whole weight  Viscera weight  Rings
0      M     0.365        0.5140          0.1010     15
1      M     0.265        0.2255          0.0485      7
2      F     0.420        0.6770          0.1415      9
3      M     0.365        0.5160          0.1140     10
4      I     0.255        0.2050          0.0395      7
...   ..       ...           ...             ...    ...
4172   F     0.450        0.8870          0.2390     11
4173   M     0.440        0.9660          0.2145     10
4174   M     0.475        1.1760          0.2875      9
4175   F     0.485        1.0945          0.2610     10
4176   M     0.555        1.9485          0.3765     12

[4177 rows x 5 columns]

## Exercise 3
- The bigger the computer's RAM is the larger the dataset that it can load.
- Server has larger RAM I guess!?

## Exercise 4
- Too many categories? Try to reduce them. If you can't, considering turn them into quantitative measures (map to numbers).
- If category labels are all unique, try to group them into meaningful groups (has some correlation with the target value). If you still can't (or there isn't any correlation to be found), just drop the column. (every rows has its own value, won't contribute anything).

## Exercise 5
- Only use pandas till now. Why load numpy tensors from file though?